<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="history">
	
	<resultMap type="Parsing" id="parsing_basic">
		<result column="pn" property="pn"/>
		<result column="user_pn" property="userPn"/>
		<result column="url" property="url"/>
		<result column="title" property="title"/>
		<result column="count" property="count"/>
		<result column="domain" property="domain"/>
		<result column="favicon" property="favicon"/>
		<result column="keyword" property="keyword"/>
	</resultMap>
	
	<resultMap type="Image" id="image_basic">
		<result column="visit_pn" property="visitPn"/>
		<result column="url" property="url"/>
		<result column="width" property="width"/>
		<result column="height" property="height"/>
		<result column="color" property="color"/>
	</resultMap>
	
	<resultMap type="Color" id="color_basic">
		<result column="pn" property="pn"/>
		<result column="ko_name" property="koName"/>
		<result column="en_name" property="enName"/>
		<result column="rgb" property="rgb"/>
	</resultMap>	
	
	<select id="selectVisitCount" parameterType="VisitFilter" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			(
				SELECT
					pk.keyword, pk.pn, pv.`url_pn`, pv.`user_pn`, pu.`url`, COUNT(pv.`url_pn`) AS `count`
				FROM
					`parsing_visit` AS pv
					LEFT OUTER JOIN `parsing_url`AS pu
					ON pv.`url_pn` = pu.`pn`
					LEFT OUTER JOIN parsing_data AS pd 
					ON pv.pn = pd.visit_pn
					LEFT OUTER JOIN parsing_keyword AS pk
					ON pd.keyword_pn = pk.pn
				WHERE
					pv.`user_pn` = #{userPn}
				GROUP BY
					pv.`url_pn`
			) pc
		WHERE
		<![CDATA[
				pc.count>=3
		]]>
	</select>
	
	<select id="selectVisits" parameterType="VisitFilter" resultMap="parsing_basic">
		SELECT
			pc.`url_pn`, pc.`user_pn`, pc.`url`, pc.`count`, pc.`title`, pc.`domain`, pc.`favicon`, pc.`keyword`
		FROM
			(
				SELECT
					pv.`url_pn`, pv.`user_pn`, pu.`url`, pu.`domain`, pu.`favicon`, COUNT(pv.`url_pn`) AS `count`, pd.`title`, pk.`keyword`
				FROM
					`parsing_visit` AS pv
					LEFT OUTER JOIN `parsing_url`AS pu
					ON pv.`url_pn` = pu.`pn`
					LEFT OUTER JOIN parsing_data AS pd 
					ON pv.pn = pd.visit_pn
					LEFT OUTER JOIN parsing_keyword AS pk
					ON pd.keyword_pn = pk.pn
				WHERE
					pv.`user_pn` = #{userPn}
				GROUP BY
					pv.`url_pn`
			) pc
		WHERE
		<![CDATA[
			pc.count>=3
		]]>
		ORDER BY
			pc.`count` DESC
	</select>
	
	<select id="selectImageCount" parameterType="ImageSearchFilter" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			(
				SELECT
					pi.`visit_pn`
				FROM
					`parsing_image` AS `pi`
					LEFT OUTER JOIN `parsing_visit` AS `pv`
					ON pi.`visit_pn` = pv.`pn`
				WHERE
					pv.`user_pn` = #{userPn}
				<if test="width != null">
				AND
				<![CDATA[
					pi.`width` >= #{width}
				]]>
				</if>
				<if test="height != null">
				AND
				<![CDATA[
					pi.`height` >= #{height}
				]]>
				</if>
				AND
					(
						DATE_FORMAT(pv.`register_date`,'%d-%m-%Y') BETWEEN #{from} AND #{to}
					)
				<if test="color != null and color != 0">
				AND
					pi.`color` = #{color}
				</if>
				GROUP BY
					pi.`url`
			) pc
	</select>
	
	<select id="selectImages" parameterType="ImageSearchFilter" resultMap="image_basic">
		SELECT
			pu.`url` AS link, pi.`url`, pi.`width`, pi.`height`, pi.`color`
		FROM
			`parsing_image` AS `pi`
			LEFT OUTER JOIN `parsing_visit` AS `pv`
			ON pi.`visit_pn` = pv.`pn`
			LEFT OUTER JOIN `parsing_url` AS `pu`
			ON pu.`pn` = pv.`url_pn`
		WHERE
			pv.`user_pn` = #{userPn}
		<if test="width != null">
		AND
		<![CDATA[
			pi.`width` >= #{width}
		]]>
		</if>
		<if test="height != null">
		AND
		<![CDATA[
			pi.`height` >= #{height}
		]]>
		</if>		
		AND
			(
				DATE_FORMAT(pv.`register_date`,'%d-%m-%Y') BETWEEN #{from} AND #{to}
			)
		<if test="color != null and color != 0">
		AND
			pi.`color` = #{color}
		</if>
		GROUP BY
			pi.`url`
		ORDER BY
			pv.`register_date` DESC
		LIMIT #{pagination.itemSeqBegin}, #{pagination.numItemsPerPage}
	</select>
		
	<select id="selectColors" resultMap="color_basic">
		SELECT
			pn, ko_name, en_name, rgb
		FROM
			parsing_color
	</select>	
	
	<resultMap type="Keyword" id="keyword_basic">
		<result column="domain" property="domain"/>
		<result column="title" property="title"/>
		<result column="favicon" property="favicon"/>
		<result column="url" property="url"/>
		<result column="pn" property="keywordPn"/>
		<result column="keyword" property="keyword"/>
		<result column="register_date" property="date"/> 
	</resultMap>
	
	<resultMap type="HDate" id="date_basic">
		<result column="register_date" property="date"/>
		<result column="count" property="count"/>
	</resultMap>

		
	<select id="selectHistoryKeyword" parameterType="KeywordFilter"	resultMap="keyword_basic">
		SELECT 
			pu.domain,pd.title, pu.favicon, pu.url, pk.pn, pk.keyword, DATE_FORMAT(pv.`register_date`,'%d-%m-%Y %h:%i:%s') AS register_date
		FROM
			`parsing_visit` AS pv
			LEFT OUTER JOIN `parsing_data` AS pd
			ON pv.pn=pd.visit_pn
			LEFT OUTER JOIN `parsing_url` AS pu
			ON pv.url_pn=pu.pn
			LEFT OUTER JOIN `parsing_keyword` AS pk
			ON pd.keyword_pn=pk.pn
		WHERE
			pv.user_pn=#{userPn}
		AND 
			DATE_FORMAT(pv.`register_date`,'%d-%m-%Y')=#{date}
		GROUP BY
			pv.url_pn
		ORDER BY
			pv.register_date DESC		
	</select>
	
	<select id="selectHistoryDate" parameterType="HistoryFilter" resultMap="date_basic">
		SELECT
			i.register_date, COUNT(i.register_date) AS `count`
		FROM
			(
				SELECT DATE_FORMAT(pv.`register_date`,'%d-%m-%Y') AS register_date FROM `parsing_visit` AS pv
				WHERE pv.user_pn=#{userPn}
				GROUP BY pv.url_pn, pv.`register_date`
			) AS i
		GROUP BY
			i.register_date
		ORDER BY
			i.register_date DESC
	</select>
	
	<select id="selectHistoryDateCount" parameterType="HistoryFilter" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			(
				SELECT
					i.register_date, COUNT(i.register_date) AS COUNT
				FROM
					(
						SELECT DATE_FORMAT(pv.`register_date`,'%d-%m-%Y') AS register_date FROM `parsing_visit` AS pv
						WHERE pv.user_pn=#{userPn}
						GROUP BY pv.url_pn, pv.`register_date`
					) AS i
				GROUP BY
					i.register_date
			) AS hc
	</select>
</mapper>
