<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="net.epril.dotori.regex.Regex" alias="Regex"/>
		
		<typeAlias type="net.epril.dotori.parsing.Image" alias="Image"/>
		<typeAlias type="net.epril.dotori.parsing.Parsing" alias="Parsing"/>
		<typeAlias type="net.epril.dotori.parsing.ParsingFilter" alias="ParsingFilter"/>
		<typeAlias type="net.epril.dotori.parsing.visit.VisitFilter" alias="VisitFilter"/>
		<typeAlias type="net.epril.dotori.parsing.visit.ImageSearchFilter" alias="ImageSearchFilter"/>
	</typeAliases>
</configuration>