<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="parsing">

	<resultMap type="Parsing" id="parsing_basic">
		<result column="pn" property="pn"/>
		<result column="user_pn" property="userPn"/>
		<result column="url" property="url"/>
		<result column="title" property="title"/>
	</resultMap>
	
	<resultMap type="Image" id="image_basic">
		<result column="parsing_pn" property="parsingPn"/>
		<result column="url" property="url"/>
		<result column="width" property="width"/>
		<result column="height" property="height"/>
		<result column="color" property="color"/>
	</resultMap>

	<select id="selectParsingCount" parameterType="ParsingFilter" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			parsing 
	</select>

	<select id="selectParsingList" parameterType="ParsingFilter" resultMap="parsing_basic">
		SELECT 
			pn, user_pn, url, title
		FROM 
			parsing
		ORDER BY
			pn desc
		LIMIT #{pagination.itemSeqBegin}, #{pagination.numItemsPerPage}
	</select>
	
	<select id="selectDetailInformation" parameterType="Integer" resultType="String">
		SELECT
			text
		FROM
			parsing
		WHERE
			pn = #{value}
	</select>
	
	<select id="selectDetailInfoImages" parameterType="Integer" resultMap="image_basic">
		SELECT
			parsing_pn, url, width, height, color
		FROM
			parsing_image
		WHERE
			parsing_pn = ${value}
	</select>

	<insert id="insertParsing" parameterType="Parsing">
		INSERT INTO
			parsing
			( user_pn, url, title, text	)
		VALUES
			( #{userPn}, #{url}, #{title}, #{text} )
		<selectKey keyProperty="pn" resultType="Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="insertParsingDate" parameterType="Parsing">
		INSERT INTO
			parsing_date
			( parsing_pn, invite_date )
		VALUES
			( #{pn}, SYSDATE() )
	</insert>
	
	<insert id="insertParsingImageUrl" parameterType="ArrayList">
		INSERT INTO
			parsing_image
			( parsing_pn, url, width, height, color )
		VALUES
			<foreach collection="list" item="item" index="index" separator="," open="" close="">
				( #{item.parsingPn}, #{item.url}, #{item.width}, #{item.height}, #{item.color} ) 
			</foreach>
	</insert>
	
</mapper>
