@CHARSET "UTF-8";
/** History */
HEADER.dotory_history_header{ padding: 10px; width:580px; height:30px; float:left; background: #fff; box-shadow:  0.5px 0.5px 3px 0px rgba(128,128,128,1);}
FOOTER.dotory_history_footer{ padding: 0 10px 0 10px; width:580px;height:40px;float:left; }

LI.dotory_history_head{ margin-left: -10px;}
DIV.dotory_history_content{ width:600px; height: 300px; float:left; margin-top: 5px;}
DIV.current_content{ width:400px; float:left; overflow-y: hidden; overflow-x: hidden; padding: 5px 0 15px 10px; margin-left: 10px; height: 280px; }
HEADER.current_content_header{ position: fixed; background: #fff; left: -395px; top : 55px; width: 400px; z-index: 10; display: block; padding: 10px 0 10px 10px; display: none;}
HEADER.current_content_header>DIV.left{ float: left; width: 385px;}
HEADER.current_content_header>DIV.right{ float: left; width: 15px; opacity:0.9;}
HEADER.current_content_header>DIV.right>BUTTON{ width: 15px; float: left; cursor: pointer;  min-height: 100%;}
H2.page_head{ color:#000; font-weight: normal; font-size: 100%; float: left; margin-top: 5px; }
H2.page_head>SPAN.text{ float: left; font-size: 93.75%; color: #181515; width: 100%; margin-bottom: 10px;}
H2.page_head>SPAN.keyword_total{ float: left; width: 260px; width: 100%; margin-bottom: 10px;}
H2.page_head>SPAN.keyword_total>A{ font-size:75%; float: left; color: #c4c4c4; cursor: pointer; margin-right: 8px;}
H2.page_head>SPAN.keyword_total>A:HOVER{ color: #3f3f3f;}
H2.page_head>SPAN.keyword_total>A.selected{ color: #000; }

UL.opened_page_list_all{ float: left; width: 100%; }
UL.opened_page_list_all>LI{float: left; width: 100px; }
UL.opened_page_list_all>LI>BUTTON{cursor : pointer; float: left; width: 90px; padding: 5px; font-size: 75%; border-radius:3px;}
UL.opened_page_list_all>LI>BUTTON:HOVER{background: #8b8b8b;}

UL.opened_page_list_wrap{float: left; width: 100%; padding-top: 5px; }
UL.opened_page_list_wrap>LI{float: left; width: 375px; padding: 0 8px; line-height: 25px;}
UL.opened_page_list_wrap>LI:HOVER{ background: #ccc;}
UL.opened_page_list_wrap>LI>INPUT{ float: left;}
UL.opened_page_list_wrap>LI>A{ float: left; width: 358px;}

UL.opened_page_list_wrap>LI>A, UL.opened_page_list_wrap>LI>A:VISITED{ color: #000; font-size: 100%; width: 335px;}
UL.opened_page_list_wrap>LI>A:HOVER{ color: #000; }
A.opend_page_link>SPAN.title{ font-size: 75%; }
A.opend_page_link>SPAN.date{ font-size: 62.5%; color: #808080 !important;}
INPUT.opened_page_check{ margin: 6px 4px 0 0 ;}
UL.opened_page_list_wrap>LI>SPAN.more_tag{ color: #fff; float: left; width: 100%; font-size: 75%; text-indent: 15px;}

DIV.date_history{ width:140px; float:left; height: 280px; padding: 5px 10px 15px 20px; margin-right: 10px; overflow-y: hidden; overflow-x: hidden;}
H2.date_head{ font-size: 93.75%; color:#181515; font-weight: normal; margin-top: 5px;}
UL.history_list_wrap{float: left; width: 100%; padding-top: 10px;}
UL.history_list_wrap>LI{ float:left; width: 100%; height: 20px; background: #fff; padding: 5px 0; border-radius:2px; line-height: 20px; margin-bottom: 3px; cursor: pointer;}
UL.history_list_wrap>LI>SPAN.date{ font-size: 81.25%; float: left; margin: 0 8px;}
UL.history_list_wrap>LI>SPAN.keyword{ font-size: 75%; float: left; color: #dddddd;}
UL.history_list_wrap>LI>SPAN.keyword>B{ font-weight: normal; color: #8d8d8d; }
UL.history_list_wrap>LI>SPAN.keyword>A{ color: #ddd; }
UL.history_list_wrap>LI>SPAN.keyword>A:HOVER{ color: #a7a7a7; }