@CHARSET "UTF-8";
/** History */
HEADER.dotory_history_header{ padding: 10px; width:580px; height:30px; float:left;}
FOOTER.dotory_history_footer{ padding: 10px 10px 0 10px; width:580px;height:40px;float:left; }

DIV.dotory_history_content{ width:600px; height: 300px; float:left; }
DIV.current_content{ width:280px; float:left; overflow-y: scroll; overflow-x: hidden;  padding: 5px 0 15px 10px; margin-left: 10px; height: 280px;outline: 1px solid #fff;}
DIV.current_content>H2{ font-size: 87.5%; color:#fff; font-weight: normal;}
UL.opened_page_list_wrap{float: left; width: 100%; padding-top: 10px; }
UL.opened_page_list_wrap>LI{float: left; width: 280px; padding: 0 8px; line-height: 25px;}
UL.opened_page_list_wrap>LI>INPUT{ float: left;}
UL.opened_page_list_wrap>LI>A{ float: left; }
UL.opened_page_list_wrap>LI>A, UL.opened_page_list_wrap>LI>A:VISITED{ color: #fff; font-size: 81.25%;}
UL.opened_page_list_wrap>LI>A:HOVER{ color: #808080; }
INPUT.opened_page_check{ margin: 6px 4px 0 0 ;}
UL.opened_page_list_wrap>LI>SPAN.more_tag{ color: #fff; float: left; width: 100%; font-size: 75%; text-indent: 15px;}

DIV.date_history{ width:260px; float:left; height: 280px; outline: 1px solid #fff; padding: 5px 10px 15px 20px; margin-right: 10px; overflow-y: scroll; overflow-x: hidden}
DIV.date_history>H2{ font-size: 87.5%; color:#fff; font-weight: normal;}
UL.history_list_wrap{float: left; width: 100%; padding-top: 10px;}
UL.history_list_wrap>LI{ float:left; width: 100%; height: 20px; background: #fff; padding: 5px 0; border-radius:2px; line-height: 20px; margin-bottom: 3px;}
UL.history_list_wrap>LI>SPAN.date{ font-size: 81.25%; float: left; margin: 0 8px;}
UL.history_list_wrap>LI>SPAN.keyword{ font-size: 75%; float: left; color: #dddddd;}
UL.history_list_wrap>LI>SPAN.keyword>B{ font-weight: normal; color: #8d8d8d; }
UL.history_list_wrap>LI>SPAN.keyword>A{ color: #ddd; }
UL.history_list_wrap>LI>SPAN.keyword>A:HOVER{ color: #a7a7a7; }