/* Sizes */
.live-tile,
.list-tile,
.copy-tile,
.tile-strip .flip-list > li {
  height: 150px;
  margin: 5px;
  outline: 1px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  width: 150px;
}
.live-tile.half-tile,
.list-tile.half-tile,
.copy-tile.half-tile,
.tile-strip .flip-list > li.half-tile {
  height: 70px;
  width: 70px;
}
.live-tile.half-wide,
.list-tile.half-wide,
.copy-tile.half-wide,
.tile-strip .flip-list > li.half-wide {
  width: 70px;
}
.live-tile.two-wide,
.list-tile.two-wide,
.copy-tile.two-wide,
.tile-strip .flip-list > li.two-wide {
  width: 310px;
}
.live-tile.three-wide,
.list-tile.three-wide,
.copy-tile.three-wide,
.tile-strip .flip-list > li.three-wide {
  width: 470px;
}
.live-tile.four-wide,
.list-tile.four-wide,
.copy-tile.four-wide,
.tile-strip .flip-list > li.four-wide {
  width: 630px;
}
.live-tile.five-wide,
.list-tile.five-wide,
.copy-tile.five-wide,
.tile-strip .flip-list > li.five-wide {
  width: 790px;
}
.live-tile.six-wide,
.list-tile.six-wide,
.copy-tile.six-wide,
.tile-strip .flip-list > li.six-wide {
  width: 950px;
}
.live-tile.seven-wide,
.list-tile.seven-wide,
.copy-tile.seven-wide,
.tile-strip .flip-list > li.seven-wide {
  width: 1110px;
}
.live-tile.eight-wide,
.list-tile.eight-wide,
.copy-tile.eight-wide,
.tile-strip .flip-list > li.eight-wide {
  width: 1270px;
}
.live-tile.nine-wide,
.list-tile.nine-wide,
.copy-tile.nine-wide,
.tile-strip .flip-list > li.nine-wide {
  width: 1430px;
}
.live-tile.ten-wide,
.list-tile.ten-wide,
.copy-tile.ten-wide,
.tile-strip .flip-list > li.ten-wide {
  width: 1590px;
}
.live-tile.half-tall,
.list-tile.half-tall,
.copy-tile.half-tall,
.tile-strip .flip-list > li.half-tall {
  height: 70px;
}
.live-tile.two-tall,
.list-tile.two-tall,
.copy-tile.two-tall,
.tile-strip .flip-list > li.two-tall {
  height: 310px;
}
.live-tile.three-tall,
.list-tile.three-tall,
.copy-tile.three-tall,
.tile-strip .flip-list > li.three-tall {
  height: 470px;
}
.live-tile.four-tall,
.list-tile.four-tall,
.copy-tile.four-tall,
.tile-strip .flip-list > li.four-tall {
  height: 630px;
}
.live-tile.five-tall,
.list-tile.five-tall,
.copy-tile.five-tall,
.tile-strip .flip-list > li.five-tall {
  height: 790px;
}
.live-tile.six-tall,
.list-tile.six-tall,
.copy-tile.six-tall,
.tile-strip .flip-list > li.six-tall {
  height: 950px;
}
.live-tile.seven-tall,
.list-tile.seven-tall,
.copy-tile.seven-tall,
.tile-strip .flip-list > li.seven-tall {
  height: 1110px;
}
.live-tile.eight-tall,
.list-tile.eight-tall,
.copy-tile.eight-tall,
.tile-strip .flip-list > li.eight-tall {
  height: 1270px;
}
.live-tile.nine-tall,
.list-tile.nine-tall,
.copy-tile.nine-tall,
.tile-strip .flip-list > li.nine-tall {
  height: 1430px;
}
.live-tile.ten-tall,
.list-tile.ten-tall,
.copy-tile.ten-tall,
.tile-strip .flip-list > li.ten-tall {
  height: 1590px;
}
/* End Sizes */

/* liveTile styles */
.tile-strip,
.live-tile,
.list-tile,
.copy-tile,
.slide {
  float: left;
}
.live-tile,
.list-tile,
.copy-tile {
  color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 20;
}
.live-tile p,
.list-tile p,
.copy-tile p,
.live-tile .face,
.list-tile .face,
.copy-tile .face {
  display: block;
  font-size: 1em;
  line-height: 1.2em;
  margin: 0;
}
.live-tile .face,
.list-tile .face,
.copy-tile .face {
  padding: 0px;
}
.live-tile p,
.list-tile p,
.copy-tile p {
  padding: 10px;
}
.live-tile.half-tile p,
.list-tile.half-tile p,
.copy-tile.half-tile p {
  padding: 5px;
}
.live-tile .face.full,
.list-tile .face.full,
.copy-tile .face.full {
  height: 100%;
  width: 100%;
}
.live-tile img,
.list-tile img,
.copy-tile img {
  border: none;
}
.live-tile .tile-title,
.list-tile .tile-title,
.copy-tile .tile-title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  font-size: 12px;
  left: 0px;
  text-decoration: none;
  width: 100%;
  z-index: 30;
}
.live-tile a,
.list-tile a,
.copy-tile a {
  color: #fff;
}
.live-tile a.tile-title:hover,
.list-tile a.tile-title:hover,
.copy-tile a.tile-title:hover {
  text-decoration: none;
}
.live-tile a:link,
.list-tile a:link,
.copy-tile a:link,
.live-tile a:visited,
.list-tile a:visited,
.copy-tile a:visited {
  color: #fff;
  text-decoration: underline;
}
.live-tile a:hover,
.list-tile a:hover,
.copy-tile a:hover {
  color: #fff;
  text-decoration: none;
}
.copy-tile p {
  padding: 5px 5px 0px 5px;
  font-size: .95em;
}
.live-tile > div,
.list-tile > div,
.live-tile > .slide,
.carousel > .slide,
.live-tile > .slide-front,
.live-tile > .slide-back,
.live-tile > .fade-front,
.live-tile > .fade-back,
.live-tile > .flip-front,
.live-tile > .flip-back {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 20;
}
.live-tile .align-mid {
  display: inline-block;
  position: absolute;
  left: 50%;
  max-height: 100%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.live-tile .align-mid-x {
  display: inline-block;
  left: 50%;
  max-width: 100%;
  position: absolute;
  -moz-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  -o-transform: translate(-50%, 0px);
  -webkit-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}
.live-tile .align-mid-y {
  display: inline-block;
  max-height: 100%;
  position: absolute;
  top: 50%;
  -moz-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  -o-transform: translate(0px, -50%);
  -webkit-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}
img.full,
a.full,
.live-tile .full,
.list-tile .full {
  display: block;
  margin: 0px;
  height: 100%;
  text-decoration: none;
  width: 100%;
}
img.full-w,
a.full-w,
.live-tile .full-w,
.list-tile .full-w {
  display: block;
  margin: 0px;
  text-decoration: none;
  width: 100%;
}
img.full-h,
a.full-h,
.live-tile .full-h,
.list-tile .full-h {
  display: block;
  margin: 0px;
  height: 100%;
}
.live-tile > .back,
.live-tile > .slide-back,
.live-tile > .fade-back,
.live-tile > .flip-back,
.flip-list .flip-back {
  position: absolute;
  z-index: 10;
}

a.metroExtraSmall:link,
a.face.metroExtraSmall:link,
a.live-tile .metroExtraSmall:link {
  text-decoration: none;
}
.live-tile .p-top {
  display: block;
  position: absolute;
  right: 0px;
  text-decoration: none;
}
.live-tile .p-right {
  display: block;
  position: absolute;
  right: 0px;
  text-decoration: none;
}
.live-tile .p-bottom {
  display: block;
  position: absolute;
  bottom: 0px;
  text-decoration: none;
}
.live-tile .p-left {
  display: block;
  position: absolute;
  left: 0px;
  text-decoration: none;
}
/***** Theme Definitions *****/

/*live tile accent colors */

.green .accent,
.green .accentBg,
.green .accentBgHover:hover,
.green .accentBgHover a:hover,
.green .live-tile > div,
.green .copy-tile > div,
.green .live-tile > .face,
.green .copy-tile > .face,
.green .live-tile > .slide,
.green .live-tile > .flip-back,
.green .live-tile > .flip-front,
.green .live-tile > .slide-back,
.green .live-tile > .slide-front,
.green .list-tile > div,
.green .flip-list > li > div {
  background-color: #339933;
}
.green .accentColor,
.green .accentHover:hover,
.green .accentHover a:hover,
.green .accentLink a,
.green .accentLink a:hover,
.green .accentLink a:visited,
.green a.accentLink,
.green a.accentLink:hover,
.green a.accentLink:visited {
  color: #339933;
}
.green .accentBorder {
  border-color: #339933;
}
.green .accentBorderBottom {
  border-bottom-color: #339933;
}
.green .accentBorderLeft {
  border-left-color: #339933;
}
.green .accentBorderRight {
  border-right-color: #339933;
}
.green .accentBorderTop {
  border-top-color: #339933;
}
/* Local style overrides */

html body .green.accent,
html body .green.live-tile > .accent,
html body .green.list-tile > .accent,
html body .green.copy-tile > .accent,
html body .green.live-tile > div,
html body .green.copy-tile > div,
html body .green.list-tile > div,
html body .green.live-tile > .face,
html body .green.list-tile > .face,
html body .green.copy-tile > .face,
html body .green.live-tile > .slide,
html body .green.live-tile > .flip-back,
html body .green.live-tile > .flip-front,
html body .green.live-tile > .slide-back,
html body .green.live-tile > .slide-front,
html body .green.flip-list > li > .accent,
html body .green.flip-list > li > .flip-back,
html body .green.flip-list > li > .flip-front,
html body .green.slide.accent,
html body .green.slide-front.accent,
html body .green.slide-back.accent,
html body .green.flip-front.accent,
html body .green.flip-back.accent {
  background-color: #339933;
}
html body .green.accentColor,
html body .green.accentHover:hover,
html body .green.accentHover a:hover,
html body .green.accentLink a,
html body .green.accentLink a:hover,
html body .green.accentLink a:visited,
a.accentLinkhtml body .green,
a.accentLinkhtml body .green:hover,
a.accentLinkhtml body .green:visited {
  color: #339933;
}
html body .green.accentBorder {
  border-color: #339933;
}
html body .green.accentBorderBottom {
  border-bottom-color: #339933;
}
html body .green.accentBorderLeft {
  border-left-color: #339933;
}
html body .green.accentBorderRight {
  border-right-color: #339933;
}
html body .green.accentBorderTop {
  border-top-color: #339933;
}
/* Media queries */
@media screen and (max-width: 1025px) {
  .appbar .theme-options h2,
  .appbar .base-theme-options h2,
  .appbar .links {
    font-size: 1.7em;
    padding: 8px 8px 2px;
    text-align: left;
  }
  .appbar .base-theme-options li,
  .appbar .base-theme-options li a,
  .appbar .theme-options li,
  .appbar .theme-options li a {
    display: block;
    height: 32px;
    margin: 4px;
    width: 32px;
  }
}
@media screen and (max-width: 801px) {
  .appbar .theme-options h2,
  .appbar .base-theme-options h2,
  .appbar .links {
    font-size: 1.3em;
  }
  .appbar .theme-options > ul {
    padding-right: 6px;
  }
}
@media screen and (max-width: 641px) {
  .appbar .theme-options {
    width: 70%;
  }
  .appbar .base-theme-options {
    width: 30%;
  }
}
