@CHARSET "UTF-8";
DIV.dotory_image_wrap{
	background-color:#252730;
	width: 600px;
	height: 400px;
	float: left;
}
HEADER.dotory_image_header{
	padding: 10px 10px 10px 10px;
	width:580px;
	height:30px;
	float:left;
	outline: 1px solid white;
}
UL.image_top{
	float:left;
}
UL.image_top>LI{
	float:left;
}
UL.image_top>LI:nth-child(1){
	width:30px;
	height:30px;
	float:left;
}
UL.image_top>LI:nth-child(2){
	margin: 5px 0 0 5px;
	width:500px;
	font-size: 20px;
	color:#e6eeee;
}
UL.image_top>LI:nth-child(3){
	width:30px;
	height:30px;
	float:left;
	text-align: right;
}
DIV.dotory_image_content{
	padding: 10px 10px 0px 10px;
	width:580px;
	height:340px;
	float:left;
	overflow-y: scroll;
}
UL.history_images{
	float:left;
}
UL.history_images>LI{
	float:left;	
	width:200px;
	height:100px;
	float:left;
	margin: 0 4px 4px 0px;
	color:#e6eeee;
	background-color: #009aad;
}