@CHARSET "UTF-8";
HTML{ width: 600px; height: 400px; overflow: hidden;}
BODY{ overflow: hidden;}

DIV.dotory_wrap {
	background : #000;
	width: 600px;
	height: 400px;
	float: left;
	overflow-x: scroll; overflow-y: hidden;
}
HEADER.dotory_header {
	padding: 10px 25px;
	width:550px;
	height:29px;
	float:left;
	border-bottom: 1px solid #000;
}
DIV.dotory_content{
	padding:10px 25px 0 25px;
	width:1000px;
	height:270px;
	float:left;
}
FOOTER.dotory_footer{
	padding: 10px 25px 13px 25px;
	width:550px;
	height:30px;
	float:left;	
	text-align: right;	
}
UL.dotory_top{
	float:left;
}
UL.dotory_top>LI{
	float:left;
}
UL.dotory_top>LI:nth-child(1){
	width:400px;
}
UL.dotory_top>LI:nth-child(1)>H1{
	font-size: 112.5%;
	color:#fff;
	line-height: 29px;
}
UL.dotory_top>LI:nth-child(2){
	width:115px;
	float:left;
}
UL.dotory_top>LI:nth-child(2)>SPAN{
	line-height: 29px;
	float: left;
	width: 100%;
	font-size: 87.5%;
	color:#e6eeee;
	text-align: right;
}

UL.dotory_top>LI:nth-child(3){
	margin: 3px 5px;
	float:left;
}
UL.dotory_top>LI:nth-child(3)>IMG{
	width: 24px;
	height: 24px;
}

UL.dotory_icon{
	margin-right: 5px;
	width: 160px;
	height: 270px;
	float:left;	
}
UL.dotory_icon:nth-child(3n){
	margin-right: 15px;
}
UL.dotory_icon>LI{
	width: 160px;
	height: 85px;
	float: left;
	margin-bottom: 5px;
}
LI.fill{
	background: #fff;
	text-indent: -9999px;
}