@CHARSET "UTF-8";
HTML{ width: 600px; height: 400px; overflow: hidden;}
BODY{ overflow: hidden;}

DIV.dotory_wrap {
	background : #fafafa;
	width: 600px;
	height: 400px;
	float: left;
	overflow-x: scroll; overflow-y: hidden;
}
HEADER.dotory_header {
	padding: 10px 25px;
	width:550px;
	height:30px;
	float:left;
}
DIV.dotory_content{
	padding:5px 25px 0 25px;
	width:1000px;
	height:270px;
	float:left;
}
FOOTER.dotory_footer{
	padding: 5px 25px 13px 25px;
	width:550px;
	height:40px;
	float:left;	
	text-align: right;	
}
UL.dotory_top{
	float:left;
}
UL.dotory_top>LI{
	float:left;
}
UL.dotory_top>LI:nth-child(1){
	width:400px;
}
UL.dotory_top>LI:nth-child(1)>H1{
	font-size: 112.5%;
	color:#2d2d2d;
	line-height: 29px;
}
UL.dotory_top>LI:nth-child(2){
	width:115px;
	float:left;
}
UL.dotory_top>LI:nth-child(2)>SPAN{
	line-height: 29px;
	float: left;
	width: 100%;
	font-size: 87.5%;
	color:#2d2d2d;
	text-align: right;
}

UL.dotory_top>LI:nth-child(3){
	margin: 3px 5px;
	float:left;
}
UL.dotory_top>LI:nth-child(3)>IMG{
	width: 24px;
	height: 24px;
}

UL.dotory_icon{
	margin-right: 5px;
	width: 160px;
	height: 270px;
	float:left;	
}
UL.dotory_icon:nth-child(3n){
	margin-right: 15px;
}
UL.dotory_icon>LI{
	width: 160px;
	height: 85px;
	float: left;
	margin-bottom: 5px;
}
LI.fill{
	background: #fff;
	text-indent: -9999px;
}

BUTTON.metro_btn{
	margin: 1px 0 1px 5px;
	width: 120px;
	height: 38px;
	line-height: 38px;
	font-size: 87.5%;
	color: #000;
	cursor: pointer;
}
BUTTON.metro_btn:HOVER { background: #808080; }

BUTTON#img_btn{ background: #1a1a1a; color: #fff;}
BUTTON#img_btn:HOVER{ background: #000; }
BUTTON#history_btn{ background: #404040; color: #fff;}
BUTTON#history_btn:HOVER{ background: #262626; }

LI.metro_color_blue{ background: #2b78e4; }
LI.metro_color_green{ background: #009e0f; }
LI.metro_color_orange{ background: #ff9900; }
LI.metro_color_red{ background: #cc0000; }
LI.metro_color_purple{ background: #6d0042; }
LI.metro_color_grayBlue{ background: #b4a7d6; }
LI.metro_color_yellowOrange{ background: #ffd966; }
LI.metro_color_gray{ background: #999999; }
LI.metro_color_softGray{ background: #cccccc; }

