@CHARSET "UTF-8";

DIV.dotory_wrap {
	background : url("../images/background.jpg");
	width: 600px;
	height: 400px;
	float: left;
}
HEADER.dotory_header {
	padding: 10px 50px 10px 50px;
	width:500px;
	height:40px;
	float:left;
	outline: 1px solid black;
}
DIV.dotory_content{
	padding: 3px 0 0 50px;
	width:1000px;
	height:300px;
	float:left;
}
FOOTER.dotory_footer{
	padding: 5px 50px 5px 50px;
	width:500px;
	height:30px;
	float:left;	
	text-align: right;
	overflow-x:scroll;
	overflow-y:hidden;	
}
UL.dotory_top{
	float:left;
}
UL.dotory_top>LI{
	float:left;
}
UL.dotory_top>LI:nth-child(1){
	margin : 12px 0 0 0;
	width:350px;
}
UL.dotory_top>LI:nth-child(1)>H1{
	font-size: 18px;
	color:#e6eeee;
}
UL.dotory_top>LI:nth-child(2){
	margin : 12px 0 0 0;
	width:100px;
	color:#e6eeee;
	float:left;
	text-align: right;
	font-size:10px;
}
UL.dotory_top>LI:nth-child(3){
	margin : 7px 0 0 5px;
	width:27px;
	height:27px;
	float:left;
	background:url("../images/login-icon.jpg");
}
UL.dotory_icon{
	width:154px;
	height:300px;
	float:left;	
}
UL.dotory_icon>LI{
	width:150px;
	height: 96px;
	float:left;
	margin: 0 4px 4px 0px;
}
LI.fill{
	background:#009aad;
}