@CHARSET "UTF-8";
html, body{
	width:100%;
	height:100%;
}
DIV.dotory_web_wrap{
	background-color: #fff;
	width:100%;
	height:100%;
	float:left;
}
HEADER.dotory_web_header{
	padding: 30px 10px 30px 10px;
	width:100%;
	height:30px;
	float:left;
}
UL.web_top{
	float:left;
}
UL.web_top>LI{
	float:left;
}
UL.web_top>LI:nth-child(1){
	margin: 0 5px 0 0;
	width:410px;
	height:30px;
	float:left;
}
UL.web_top>LI:nth-child(2){
	margin: 0 5px 0 0;
	width:51px;
	height:30px;
	float:left;
}
UL.web_top>LI:nth-child(3){
	margin: 0 15px 0 0;
	width:55px;
	height:30px;
	float:left;
}
UL.web_top>LI:nth-child(4){
	margin: 0 15px 0 0;
	width:153px;
	height:30px;
	float:left;
}
DIV.dotory_web_content{
	padding: 10px 10px 0px 10px;
	width:100%;
	height:566px;
	float:left;
	overflow-y: scroll;
}
UL.history_web_images{
	float:left;
}
UL.history_web_images>LI{
	float:left;	
	width:200px;
	height:150px;
	float:left;
	margin: 0 4px 4px 0px;
	color:#e6eeee;
	background-color: #009aad;
}